{% extends 'base.html' %}

{% block title %}
    Post Create
{% endblock%}

{% block body %}
<div class="container">
<form method="POST"class="card p-3 shadow" enctype='multipart/form-data'>
{% csrf_token %}
<h3><u> Post Update Form </u></h3>
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input name="title" value="{{post.title}}" type="text" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Content</label>
    <textarea name="content"  style="height:200px;"class="form-control" required>{{post.content}}</textarea>
  </div>
  <div class="mb-3">
    <label class="form-label">Category</label>
    <select name="category" class="form-control" required>
    {% for c in category %}
        <option {% if c.category.id == post.category.id %} selected {% endif %} value={{c.id}}>{{c.name}}</option>
    {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form method="POST" action="/blog/image/create/{{post.id}}/" enctype='multipart/form-data'>
{% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Image</label>
    {% if post.images %}
      {% for p in post.images %}
        <img src="{{p.image.url}}" style="width:200px;" />
        <a href="/blog/image/delete/{{post.id}}/{{p.id}}/">Delete</a>
        <br>
      {% endfor %}
    {% endif %}
    <input name="image" type="file" class="form-control" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
{% endblock %}